*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body,
.btn_2-txt,
.localisation_search {
  min-height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

body, .btn_2-txt, .localisation_search {
  font-family: "Roboto", sans-serif;
  color: #000000;
}

.localisation_search {
  font-size: 16px;
  font-weight: 500;
  color: #353535;
}

.presentation_title,
.howToUse_title,
.restaurant_container .restaurant_title,
.restaurant_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.presentation_desc {
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  color: #353535;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.btn_2-txt {
  font-size: 16px;
  font-weight: 500;
}

.restaurant_new {
  font-size: 14px;
  font-weight: 500;
  color: #008766;
}

.card_title {
  font-size: 18px;
  font-weight: 700;
}

.card_txt {
  font-size: 17px;
  font-weight: 300;
}

.footer_title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}

.footer_link {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.btn_1 {
  padding: 18px 20px;
  display: inline-block;
  background: linear-gradient(0deg, #9356dc -5.2%, #ff79da 110.74%);
  border-radius: 25px;
  color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}
.btn_1:hover {
  opacity: 85%;
}

.btn_2 {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border: none;
  position: relative;
  text-align: start;
  transition: all 0.3s ease-in-out;
}
.btn_2:hover {
  background-color: #f5edff;
  color: #9356dc;
}
.btn_2:hover .btn_2-txt {
  color: #000000;
}
.btn_2 .btn_2-1 {
  padding: 5px;
  height: 24px;
  width: 24px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  background-color: #9356dc;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 50%);
}
.btn_2 .btn_2-ico {
  padding-inline: 30px 10px;
}

.card_heart-off {
  font-size: 25px;
  cursor: pointer;
  background-color: red;
}
.card_heart-off:active {
  background-image: linear-gradient(0deg, #9356dc -5.2%, #ff79da 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.header_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 15px;
  margin-bottom: 5px;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.header_container .header_logo {
  width: 162px;
}

.localisation_container {
  background-color: #eaeaea;
  padding-block: 15px;
}
.localisation_container .localisation_form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.localisation_container .localisation_form .localisation_ico {
  color: #353535;
}
.localisation_container .localisation_form .localisation_search {
  text-align: center;
  background-color: #eaeaea;
  border: none;
}

.presentation, .restaurant_container {
  background-color: #f7f7f7;
}
.presentation_container {
  text-align: center;
  padding-block: 40px;
  padding-inline: 20px;
}
.presentation_container .presentation_desc {
  margin-block: 20px;
}

.howToUse_container, .restaurant_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-inline: 20px;
  margin-block: 40px;
}
.howToUse_container .howToUse_title, .restaurant_container .howToUse_title, .restaurant_container .restaurant_title {
  align-self: flex-start;
  margin-bottom: 25px;
}

.restaurant_container {
  margin-bottom: 0;
  padding-bottom: 30px;
}
.restaurant_container .restaurant_title {
  margin-top: 50px;
}
.restaurant_container .restaurant_card {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 0 0 15px 15px;
  position: relative;
  margin-bottom: 18px;
  width: 100%;
}
.restaurant_container .restaurant_card .restaurant_new {
  display: inline-block;
  padding: 5px;
  background-color: rgba(153, 226, 208, 0.862745098);
  position: absolute;
  top: 15px;
  right: 10px;
}
.restaurant_container .restaurant_card .restaurant_card-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant_container .restaurant_card .restaurant_card-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.footer_container {
  padding-inline: 20px;
  background-color: #353535;
  padding-block: 20px;
}
.footer_container li:nth-child(2) {
  margin-top: 10px;
}
.footer_container .footer_ico {
  color: #ffffff;
  height: 10px;
  width: 10px;
  margin-right: 20px;
}

/*# sourceMappingURL=style.css.map */
