*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body,
.btn_2-txt,
.localisation_search {
  min-height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

body, .btn_2-txt, .localisation_search {
  font-family: "Roboto", sans-serif;
  color: #000000;
}

.localisation_search {
  font-size: 16px;
  font-weight: 500;
  color: #353535;
}

.presentation_title,
.howToUse_title,
.restaurant_container .restaurant_title,
.restaurant_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.presentation_desc {
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  color: #353535;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.btn_2-txt {
  font-size: 16px;
  font-weight: 500;
}

.restaurant_new {
  font-size: 14px;
  font-weight: 500;
  color: #008766;
}

.card_title {
  font-size: 18px;
  font-weight: 700;
}

.card_txt {
  font-size: 17px;
  font-weight: 300;
}

.footer_title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}

.footer_link {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.menu_title {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
}

.menu_title-desc {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.plate_title {
  font-size: 18px;
  font-weight: 500;
}

.plate_text {
  font-size: 15px;
  font-weight: 300;
}

.btn_1, .btn_3 {
  padding: 18px 20px;
  display: inline-block;
  background: linear-gradient(0deg, #9356dc -5.2%, #ff79da 110.74%);
  border-radius: 25px;
  color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
  transition: all 0.3s ease-in-out;
}
.btn_1:hover, .btn_3:hover {
  opacity: 70%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}

.btn_2 {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border: none;
  position: relative;
  text-align: start;
  transition: all 0.3s ease-in-out;
}
.btn_2:hover {
  background-color: #f5edff;
  color: #9356dc;
}
.btn_2:hover .btn_2-txt {
  color: #000000;
}
.btn_2 .btn_2-1 {
  padding: 5px;
  height: 24px;
  width: 24px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  background-color: #9356dc;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 50%);
}
.btn_2 .btn_2-ico {
  padding-inline: 30px 10px;
}

.btn_3 {
  padding-inline: 50px;
  margin: 10px 0 30px 17px;
}

@keyframes loader1 {
  100% {
    transform: translateY(-50px);
  }
}
@keyframes loader2 {
  100% {
    transform: translateY(50px);
  }
}
@keyframes delete {
  to {
    transform: scale(0);
  }
}
@keyframes spinCheck {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.heart_empty,
.heart_full {
  position: absolute;
  right: 10px;
  bottom: 20px;
  font-size: 24px;
}
.heart_empty:hover,
.heart_full:hover {
  cursor: pointer;
}

.heart_full {
  color: transparent;
  opacity: 0;
  background: linear-gradient(200deg, #9356dc 35%, #ff79da 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s ease-in;
}
.heart_full:hover {
  opacity: 1;
  transform: scale(1.5) translateY(-10%);
}

.heart_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 20px;
}

.heart_empty-page,
.heart_full-page {
  font-size: 24px;
  right: 10px;
  position: absolute;
}
.heart_empty-page:hover,
.heart_full-page:hover {
  cursor: pointer;
}

.heart_full-page {
  color: transparent;
  opacity: 0;
  background: linear-gradient(200deg, #9356dc 35%, #ff79da 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s ease-in;
}
.heart_full-page:hover {
  opacity: 1;
  transform: scale(1.5) translateY(-10%);
}

.loader {
  position: fixed;
  z-index: 2;
  background: #ffffff;
  width: 100%;
  height: 100vh;
  animation: delete 1s 3s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .dot_1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #9356dc;
  margin-inline: 5px;
  animation: loader1 infinite 0.5s alternate;
}
.loader .dot_2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ff79da;
  margin-inline: 5px;
  animation: loader2 infinite 0.5s alternate;
}

.header_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 15px;
  margin-bottom: 5px;
}
.header_container .header_logo {
  width: 162px;
}

.localisation_container {
  box-shadow: 1px -2px 3px 1px rgba(0, 0, 0, 0.15);
  background-color: #eaeaea;
  padding-block: 15px;
}
.localisation_container .localisation_form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.localisation_container .localisation_form .localisation_ico {
  color: #353535;
}
.localisation_container .localisation_form .localisation_search {
  text-align: center;
  background-color: #eaeaea;
  border: none;
}

.presentation, .restaurant {
  background-color: #f7f7f7;
}
.presentation_container {
  text-align: center;
  padding-block: 40px;
  padding-inline: 20px;
}
.presentation_container .presentation_desc {
  margin-block: 20px;
}

.howToUse_container, .restaurant_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-inline: 20px;
  margin-block: 40px;
}
.howToUse_container .howToUse_title, .restaurant_container .howToUse_title, .restaurant_container .restaurant_title {
  align-self: flex-start;
  margin-bottom: 25px;
}

@media screen and (min-width: 1024px) {
  .howToUse_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
  }
}
.restaurant_container {
  margin-bottom: 0;
  padding-bottom: 30px;
}
.restaurant_container .restaurant_title {
  margin-top: 50px;
}
.restaurant_container .restaurant_card {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 0 0 15px 15px;
  position: relative;
  margin-bottom: 18px;
  width: 100%;
}
.restaurant_container .restaurant_card .restaurant_new {
  display: inline-block;
  padding: 5px;
  background-color: rgba(153, 226, 208, 0.862745098);
  position: absolute;
  top: 15px;
  right: 10px;
}
.restaurant_container .restaurant_card .restaurant_card-img {
  aspect-ratio: 16/9;
  height: 230px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant_container .restaurant_card .card_title {
  padding: 10px 0 5px 20px;
}
.restaurant_container .restaurant_card .card_txt {
  padding: 0 0 5px 20px;
}

@media screen and (min-width: 1024px) {
  .restaurant_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.header_container {
  position: relative;
}

.header_return {
  position: absolute;
  left: 0;
  padding-inline: 20px;
  font-family: "Shrikhand", cursive;
}

.footer {
  background-color: #353535;
}
.footer .footer_container {
  padding-inline: 20px;
  padding-block: 20px;
}
.footer .footer_container li:nth-child(2) {
  margin-top: 10px;
}
.footer .footer_container .footer_ico {
  color: #ffffff;
  height: 10px;
  width: 10px;
  margin-right: 20px;
}

@media screen and (min-width: 1024px) {
  .footer_flex {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row-reverse;
    gap: 50px;
  }
}
.banner_container {
  position: relative;
}
.banner_container .banner_img {
  width: 100%;
  max-height: 275px;
  object-fit: cover;
}

.menu_container {
  background-color: #f7f7f7;
  max-width: 1000px;
  margin-inline: auto;
}
.menu_container .menu_intro {
  background-color: #f7f7f7;
  position: relative;
  top: -4rem;
  border-radius: 3rem 3rem 0 0;
  display: flex;
  padding: 40px 17px 0 17px;
  gap: 50px;
}

.menu {
  padding-inline: 17px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.menu .menu_title-desc {
  border-bottom: 3px solid rgba(153, 226, 208, 0.862745098);
  width: 40px;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.menu_starter-choice,
.menu_mainCourse-choice,
.menu_dessert-choice {
  display: flex;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  max-width: 650px;
  width: 100%;
  height: 70px;
  overflow: hidden;
}
.menu_starter-choice:hover .plate_check,
.menu_mainCourse-choice:hover .plate_check,
.menu_dessert-choice:hover .plate_check {
  transition: all 0.8s;
  margin: 0;
  cursor: pointer;
}
.menu_starter-choice:hover .plate_check-ico,
.menu_mainCourse-choice:hover .plate_check-ico,
.menu_dessert-choice:hover .plate_check-ico {
  animation: spinCheck 1s;
}
.menu_starter-choice .plate_desc,
.menu_mainCourse-choice .plate_desc,
.menu_dessert-choice .plate_desc {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: calc(100% - 30px);
  padding: 10px;
}
.menu_starter-choice .plate_desc:hover,
.menu_mainCourse-choice .plate_desc:hover,
.menu_dessert-choice .plate_desc:hover {
  cursor: pointer;
}
.menu_starter-choice .plate_desc .plate_title,
.menu_starter-choice .plate_desc .plate_text,
.menu_mainCourse-choice .plate_desc .plate_title,
.menu_mainCourse-choice .plate_desc .plate_text,
.menu_dessert-choice .plate_desc .plate_title,
.menu_dessert-choice .plate_desc .plate_text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu_starter-choice .plate_price,
.menu_mainCourse-choice .plate_price,
.menu_dessert-choice .plate_price {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  padding: 0 20px 10px 0;
  border-radius: 0 15px 15px 0;
}
.menu_starter-choice .plate_price:hover,
.menu_mainCourse-choice .plate_price:hover,
.menu_dessert-choice .plate_price:hover {
  cursor: pointer;
}
.menu_starter-choice .plate_check,
.menu_mainCourse-choice .plate_check,
.menu_dessert-choice .plate_check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(153, 226, 208, 0.862745098);
  color: #ffffff;
  font-size: 24px;
  border-radius: 0 15px 15px 0;
  width: 70px;
  margin-right: -5rem;
}

/*# sourceMappingURL=style.css.map */
