// COLOR
$clrPrimary: #9356dc;
$clrSecondary: #99e2d0dc;
$clrNeutral100: #ffffff;
$clrNeutral900: #000000;
$clrBtnHover: #f5edff;
$clrTxtGrey: #353535;
$clrBgLocalisation: #eaeaea;
$clrBgPresentation: #f7f7f7;
$clrGradient: linear-gradient(0deg, #9356dc -5.2%, #ff79da 110.74%);
// FONT
$fs16: 16px;
$fs17: 17px;
$fs18: 18px;
$fs24: 24px;
$fs28: 28px;
$fs40: 40px;
$fw300: 300;
$fw400: 400;
$fw500: 500;
$fw700: 700;
