// COLOR
$clrPrimary: #9356dc;
$clrSecondary: #ff79da;
$clrTertiary: #008766;
$clrBlack: #000000;
$clrWhite: #ffffff;
$clrGray-1: #353535;
$clrGray-2: #eaeaea;
$clrGray-3: #f7f7f7;
$clrGreen-1: #99e2d0dc;
$clrPurple-1: #f5edff;
$clrGradient: linear-gradient(0deg, $clrPrimary -5.2%, $clrSecondary 110.74%);
// FONT
$fs14: 14px;
$fs16: 16px;
$fs17: 17px;
$fs18: 18px;
$fs24: 24px;
$fs28: 28px;
$fs40: 40px;
$fw300: 300;
$fw400: 400;
$fw500: 500;
$fw700: 700;
$ffRoboto: "Roboto", sans-serif;
$ffShrikhand: "Shrikhand", cursive;
//PADDING
$pInline20: 20px;
//MEDIAQUERIE
$desktop: 1024px;
