//SECTION HEADER
.header_container {
  @include flexCenter;
  padding-block: 15px;
  margin-bottom: 5px;
  .header_logo {
    width: 162px;
  }
}
//SECTION LOCALISATION
.localisation_container {
  box-shadow: 1px -2px 3px 1px rgb(0 0 0 / 15%);
  background-color: $clrGray-2;
  padding-block: 15px;
  .localisation_form {
    @include flexCenter;
    .localisation_ico {
      color: $clrGray-1;
    }
    .localisation_search {
      text-align: center;
      background-color: $clrGray-2;
      border: none;
    }
  }
}
//SECTION PRESENTATION
.presentation {
  background-color: $clrGray-3;
  &_container {
    text-align: center;
    padding-block: 40px;
    padding-inline: $pInline20;
    .presentation_desc {
      margin-block: 20px;
    }
  }
}
//SECTION HOW TO USE
.howToUse_container {
  @include flexCenter;
  flex-direction: column;
  padding-inline: $pInline20;
  margin-block: 40px;
  .howToUse_title {
    align-self: flex-start;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: $desktop) {
  .howToUse_flex {
    @include flexCenter;
    gap: 50px;
    width: 100%;
  }
}
//SECTION RESTAURANT
.restaurant {
  @extend .presentation;
}
.restaurant_container {
  @extend .howToUse_container;
  margin-bottom: 0;
  padding-bottom: 30px;
  .restaurant_title {
    @extend .howToUse_title;
    margin-top: 50px;
  }
  .restaurant_card {
    box-shadow: 0px 4px 15px 0px #0000001a;
    border-radius: 0 0 15px 15px;
    position: relative;
    margin-bottom: 18px;
    width: 100%;
    .restaurant_new {
      display: inline-block;
      padding: 5px;
      background-color: $clrGreen-1;
      position: absolute;
      top: 15px;
      right: 10px;
    }
    .restaurant_card-img {
      aspect-ratio: 16/9;
      height: 230px;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }
    .card_title {
      padding: 10px 0 5px 20px;
    }
    .card_txt {
      padding: 0 0 5px 20px;
    }
  }
}
@media screen and (min-width: $desktop) {
  .restaurant_flex {
    @include flexCenter;
    gap: 20px;
  }
}
