//SECTION HEADER
.header_container {
  @include flexCenter;
  padding-block: 15px;
  margin-bottom: 5px;
  box-shadow: 0px 5px 4px 0px #00000026;
  .header_logo {
    width: 162px;
  }
}
//SECTION LOCALISATION
.localisation_container {
  background-color: $clrBgLocalisation;
  padding-block: 15px;
  .localisation_form {
    @include flexCenter;
    .localisation_ico {
      color: $clrTxtGrey;
    }
    .localisation_search {
      text-align: center;
      background-color: $clrBgLocalisation;
      border: none;
    }
  }
}
//SECTION PRESENTATION
.presentation {
  background-color: $clrBgPresentation;
  &_container {
    text-align: center;
    padding-block: 40px;
    padding-inline: $pInline20;
    .presentation_desc {
      margin-block: 20px;
    }
  }
}
//SECTION HOW TO USE
.howToUse_container {
  @include flexCenter;
  flex-direction: column;
  padding-inline: $pInline20;
  margin-block: 40px;
  .howToUse_title {
    align-self: flex-start;
    margin-bottom: 25px;
  }
}
//SECTION RESTAURANT
.restaurant_container {
  @extend .presentation;
  @extend .howToUse_container;
  margin-bottom: 0;
  padding-bottom: 30px;
  .restaurant_title {
    @extend .howToUse_title;
    margin-top: 50px;
  }
  .restaurant_card {
    box-shadow: 0px 4px 15px 0px #0000001a;
    border-radius: 0 0 15px 15px;
    position: relative;
    margin-bottom: 18px;
    width: 100%;
    .restaurant_new {
      display: inline-block;
      padding: 5px;
      background-color: $clrSecondary;
      position: absolute;
      top: 15px;
      right: 10px;
    }
    .restaurant_card-img {
      min-width: 260px;
      aspect-ratio: 55;
      height: 230px;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }
    .restaurant_card-desc {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
  }
}
