.footer_container {
  padding-inline: $pInline20;
  background-color: $clrTxtGrey;
  padding-block: 20px;
  & li:nth-child(2) {
    margin-top: 10px;
  }
  .footer_ico {
    color: $clrNeutral100;
    height: 10px;
    width: 10px;
    margin-right: 20px;
  }
}
