//LOADER
@keyframes loader1 {
  100% {
    transform: translateY(-50px);
  }
}
@keyframes loader2 {
  100% {
    transform: translateY(50px);
  }
}
@keyframes delete {
  to {
    transform: scale(0);
  }
}
// HEART
@keyframes opacity {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scaleUp {
  0% {
    transform: scale3d(0, 0, 1);
  }
  33% {
    transform: scale3d(1, 1, 1);
  }
  38% {
    transform: scale3d(1, 1, 1);
  }
  43% {
    transform: scale3d(1, 1, 1);
  }
  48% {
    transform: scale3d(1, 1, 1);
  }
  53% {
    transform: scale3d(1.4, 1.4, 1);
  }
  58% {
    transform: scale3d(1.05, 1.05, 1);
  }
  63% {
    transform: scale3d(1.2, 1.2, 1);
  }
  68% {
    transform: scale3d(1, 1, 1);
  }
  73% {
    transform: scale3d(1, 1, 1);
  }
  78% {
    transform: scale3d(1, 1, 1);
  }
  83% {
    transform: scale3d(1.4, 1.4, 1);
  }
  88% {
    transform: scale3d(1.05, 1.05, 1);
  }
  95% {
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
