//LOADER
@keyframes loader1 {
  100% {
    transform: translateY(-50px);
  }
}
@keyframes loader2 {
  100% {
    transform: translateY(50px);
  }
}
@keyframes delete {
  to {
    transform: scale(0);
  }
}
