.btn_1 {
  padding: 18px 20px;
  display: inline-block;
  background: $clrGradient;
  border-radius: 25px;
  color: $clrWhite;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
  transition: all 0.3s ease-in-out;
  &:hover {
    opacity: 70%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
  }
}
.btn_2 {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border: none;
  position: relative;
  text-align: start;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $clrPurple-1;
    color: $clrPrimary;
    .btn_2-txt {
      color: $clrBlack;
    }
  }
  .btn_2-1 {
    padding: 5px;
    height: 24px;
    width: 24px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    background-color: $clrPrimary;
    color: $clrWhite;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, 50%);
  }
  .btn_2-ico {
    padding-inline: 30px 10px;
  }
}
.btn_3 {
  @extend .btn_1;
  padding-inline: 50px;
  margin: 10px 0 30px 17px;
}
@media screen and (min-width: $tablet) {
  .btn_center {
    text-align: center;
  }
}
