.heart_empty,
.heart_full {
  position: absolute;
  right: 10px;
  bottom: 20px;
  font-size: $fs24;
  &:hover {
    cursor: pointer;
  }
}
.heart_full {
  color: transparent;
  opacity: 0;
  background: linear-gradient(200deg, #9356dc 35%, #ff79da 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s ease-in;
  &:hover {
    opacity: 1;
    transform: scale(1.5) translateY(-10%);
  }
}
