.loader {
  position: fixed;
  z-index: 2;
  background: $clrNeutral100;
  width: 100%;
  height: 100vh;
  animation: delete 1s 3s forwards;
  @include flexCenter;
  .dot_1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $clrPrimary;
    margin-inline: 5px;
    animation: loader1 infinite 0.5s alternate;
  }
  .dot_2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $clrSecondary;
    margin-inline: 5px;
    animation: loader2 infinite 0.5s alternate;
  }
}
