*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html:focus-within {
  scroll-behavior: smooth;
}
html,
body {
  min-height: 100%;
}
img {
  display: block;
  max-width: 100%;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $clrNeutral900;
}
