body {
  font-family: "Roboto", sans-serif;
  color: $clrNeutral900;
}
// h2 {
//   font-family: "Shrikhand", cursive;
// }
.localisation_search {
  @extend body;
  font-size: $fs16;
  font-weight: $fw500;
  color: $clrTxtGrey;
}
.presentation_title,
.howToUse_title,
.restaurant_title {
  font-size: $fs24;
  font-weight: $fw700;
  line-height: 28px;
}
.presentation_desc {
  font-size: $fs18;
  font-weight: $fw300;
  line-height: 21px;
  color: $clrTxtGrey;
}
.btn {
  font-size: $fs16;
  font-weight: $fw500;
  color: $clrNeutral100;
}
.btn_2-txt {
  @extend body;
  font-size: $fs16;
  font-weight: $fw500;
}
.restaurant_new {
  font-size: $fs14;
  font-weight: $fw500;
  color: $clrTxtNew;
}
.card_title {
  font-size: $fs18;
  font-weight: $fw700;
}
.card_txt {
  font-size: $fs17;
  font-weight: $fw300;
}
.footer_title {
  font-family: "Shrikhand", cursive;
  font-size: $fs18;
  font-weight: $fw500;
  color: $clrNeutral100;
}
.footer_link {
  font-size: $fs16;
  font-weight: $fw500;
  color: $clrNeutral100;
}
