body {
  font-family: $ffRoboto;
  color: $clrBlack;
}
.localisation_search {
  @extend body;
  @include fs16fw500;
  color: $clrGray-1;
}
.presentation_title,
.howToUse_title,
.restaurant_title {
  font-size: $fs24;
  font-weight: $fw700;
  line-height: 28px;
}
.presentation_desc {
  font-size: $fs18;
  font-weight: $fw300;
  line-height: 21px;
  color: $clrGray-1;
}
.btn {
  @include fs16fw500;
  color: $clrWhite;
}
.btn_2-txt {
  @extend body;
  @include fs16fw500;
}
.restaurant_new {
  font-size: $fs14;
  font-weight: $fw500;
  color: $clrTertiary;
}
.card_title {
  font-size: $fs18;
  font-weight: $fw700;
}
.card_txt {
  font-size: $fs17;
  font-weight: $fw300;
}
.footer_title {
  font-family: $ffShrikhand;
  font-size: $fs18;
  font-weight: $fw500;
  color: $clrWhite;
}
.footer_link {
  @include fs16fw500;
  color: $clrWhite;
}
